%h3= t('detail')

.pull-right
  %td= link_to t('delete.title'), post_path(@post), method: :delete, data: { confirm: t('delete.confirm') }, class: ['btn', 'btn-md', 'btn-danger']

%table.table.table-condensed
  %tr
    %th.col-sm-2= t('model.post.title')
    %td= @post.title
  %tr
    %th.col-sm-2= t('model.post.author')
    %td= @post.user.email 
  %tr
    %th.col-sm-2= t('model.post.update_at')
    %td= @post.updated_at.to_s(:db)  
  %tr
    %th.col-sm-2= t('model.post.content')
    %td= markdown(@post.content)
  %tr
    %th.col-sm-2 ppt
    %td= link_to t('model.post.show_ppt'), ppt_post_path


= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
