-# navigation styled for Bootstrap 3.0
.navbar-wrapper
  .container
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'SlideMark', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          - if user_signed_in?
            %ul.nav.navbar-nav
              %li= link_to t('navi.ppt'), user_posts_path(current_user), class: 'active'
              %li
                %input#inputSearch.form-control{:placeholder => "Search", :type => "search"}/
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "#{current_user.email}#{t('navi.home')}", home_user_path(current_user)
              %li= link_to t('navi.logout.title'), destroy_user_session_path, method: :delete, data: { confirm: t('navi.logout.confirm') }
          - else
            %ul.nav.navbar-nav
              %li= link_to t('navi.ppt'), new_user_session_path, class: 'active'
            = form_for(:user, url: session_path(:user), html: { class: ['navbar-form', 'navbar-right'], role: 'form'}) do |t|
              .form-group
                = t.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
              .form-group
                = t.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
              .form-group
                = t.submit t('navi.signin'), class: ['btn-success', 'btn']
                = link_to t('navi.regist'), new_user_registration_path, class: ['btn-link', 'btn']
