-# navigation styled for Bootstrap 3.0
.navbar-wrapper
  .container
    .navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'SlideMark', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li= link_to 'ppts', posts_path, class: 'active'
            %li
              %input#inputSearch.form-control{:placeholder => "Search", :type => "search"}/
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li= link_to "#{current_user.email}#{t('navi.home')}", home_user_path(current_user)
              %li= link_to 'logout', destroy_user_session_path, method: :delete, data: { confirm: t('navi.logout.confirm') }
            - else
              %li= link_to 'Login', new_user_session_path, class: ['btn-link', 'btn']
              %li= link_to t('navi.regist'), new_user_registration_path, class: ['btn-link', 'btn']
