!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'SlideMark'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Share your slide'}"}
    <meta property="wb:webmaster" content="f5cf72c43a5da8ca" />
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %link{:href => "/assets/stylesheets/carousel.css", :rel => "stylesheet"}
    %script{src: "/assets/src/ace.js", type: "text/javascript", charset: "utf-8"}
    %link{:href => "/assets/stylesheets/site.css", :rel => "stylesheet"}
    %link{:href => "/assets/stylesheets/pushy.css", :rel => "stylesheet"}
    = csrf_meta_tags
    %style#holderjs-style{:type => "text/css"}
  %body{:style => ""}
    = render 'layouts/navigation'
    .site-overlay
    #container
      .menu-btn ☰ Menu
      = render 'layouts/messages'
      = yield
      %br
      %br
      %br
      %br
      %script{src: "/assets/src/pushy.js", type: "text/javascript", charset: "utf-8"}
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?
	  

