!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Myapp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Myshop'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %style#holderjs-style{:type => "text/css"}
  %body{:style => ""}
    = render 'layouts/navigation'
    %br
    %br
    %br
    %br
    .container
      - if resource.present? && resource.errors.any?
        = render partial: 'alert_error', locals: { model: resource }
      = render 'layouts/messages'
      = yield
    = render 'layouts/footer'
= debug(params) if Rails.env.development?
