!!!
%html
  %head
    -# update this for chinese encoding problem
    %title= content_for?(:title) ? yield(:title) : 'PPt'
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
    %link{:href => "/assets/reveal/css/reveal.min.css", :rel => "stylesheet"}
    %link#theme{:href => "/assets/reveal/css/theme/default.css", :rel => "stylesheet"}
    / For syntax highlighting
    %link{:href => "/assets/reveal/lib/css/zenburn.css", :rel => "stylesheet"}
    /[if lt IE 9]
      <script src="/assets/reveal/lib/js/html5shiv.js"></script>
  %body
    .reveal
      / Any section element inside of this container is displayed as a slide
      .slides
        %section{"data-markdown" => "", "data-separator" => "^---$", "data-vertical" => "^--$"}
          %script{:type => "text/template"}
            = yield
    %script{:src => "/assets/reveal/lib/js/head.min.js"}
    %script{:src => "/assets/reveal/js/reveal.min.js"}
    :javascript
      Reveal.initialize({
        controls: 0,
        progress: 0,
        slideNumber: 0,
        history: 0,
        center: #{@post.s_center},
        theme: "#{@post.s_theme}",
        parallaxBackgroundImage: "#{@post.s_parallaxBackgroundImage}",
        parallaxBackgroundSize: "#{@post.s_parallaxBackgroundSize}",
      	dependencies: [
      		{ src: '/assets/reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
      		{ src: '/assets/reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: '/assets/reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
      		{ src: '/assets/reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
      		{ src: '/assets/reveal/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
      		{ src: '/assets/reveal/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
      	]
      });
